<div id='menu'  onclick="fecharModal()">
  <div class="menu-container" id="menu-container">

    <div class="saudacao">
      <h2>Olá!</h2>
      <a href="">Entrar</a>
      <a href="">Registrar</a>
      <a href="">Minha conta</a>
    </div>
    <div class="destaques">
      <h2>Destaques</h2>
      <a href="">Mais Vendidos</a>
      <a href="">Novidades da Amazon</a>
    </div>
    <div class="categorias">
      <h2>Categorias</h2>
      <a href="">MASCARAS</a>
      <a href="">QUADROS</a>
      <a href="">XADREZ</a>
      <a href="">BONECOS</a>
      <a href="">GAMES</a>
      <a href="">RELOGIOS</a>
      <a href="">CHAVEIROS</a>
      <a href="">BASE</a>
      <a href="">COSPLAY</a>
    </div>

  </div>
</div>