{% extends "global/base.html" %}
{% load static %}

{% block content %}
<div class="carrossel-container">
    <button class="anterior">&#10094;</button>
    <div class="carrossel">

      <div class="nivel">
        <div class="item">
          <a href="#"><img src="{% static "img/banner1.webp" %}"></a>
        </div>
      </div>
      
      <div class="nivel">
        <div class="item">
          <a href="#"><img src="{% static "img/banner2.webp" %}"></a>
        </div>
      </div>

      <div class="nivel">
        <div class="item">
          <a href="#"><img src="{% static "img/banner3.webp" %}"></a>
        </div>
      </div>

    </div>
    <button class="proximo">&#10095;</button>
</div>

<section class="destaque">
  <h2>Novidades 🔥</h2>
  <div class="destaque-novidades">
    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

  </div>
  <div class="destaque-ver-mais"><button>Ver mais...</button></div>


  <div class="secao-recentes">
    <h2>RECEM LANÇADOS</h2>
    <div class="recente">
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
    </div>
    <div class="recente">
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
      <div class="item">
        <img src="{% static "img/rockbalboa.webp" %}" alt="">
        <div class="nome-item">TESTE</div>
      </div>
    </div>
  </div>
</section>

<section class="section-counter-strike">
  <div class="titulo-cs">
    <img src="https://logodownload.org/wp-content/uploads/2025/01/cs-2-logo.png" alt="">
  </div>
  <div class="container-cs">
    <div class="cs">
      <img src="https://cdn2.steamgriddb.com/thumb/bf0ff26ebab44b083822745e7422ab00.jpg" alt="">
    </div>
    <div class="itens-cs">
      <nav>
        <a href="#section-counter-strike" onclick="navCs('figures')">FIGURES</a>
        <a href="#section-counter-strike" onclick="navCs('maquetes')">MAQUETES</a>
        <a href="#section-counter-strike" onclick="navCs('mascaras')">MASCARAS</a>
      </nav>
      <div class='itens-conteudo-cs' id="itens-conteudo-cs">
        <div class="bloco-cs">
          <img src="https://makerworld.bblmw.com/makerworld/model/US4d9e136c3df811/design/2025-02-16_e8c4a0b5b82d2.jpg?x-oss-process=image/resize,w_1000/format,webp" alt="">
        </div>
        <div class="bloco-cs">
          <img src="https://makerworld.bblmw.com/makerworld/model/US4d9e136c3df811/design/2025-02-16_e8c4a0b5b82d2.jpg?x-oss-process=image/resize,w_1000/format,webp" alt="">
        </div>
        <div class="bloco-cs">
          <img src="https://makerworld.bblmw.com/makerworld/model/US4d9e136c3df811/design/2025-02-16_e8c4a0b5b82d2.jpg?x-oss-process=image/resize,w_1000/format,webp" alt="">
        </div>
        <div class="bloco-cs">
          <img src="https://makerworld.bblmw.com/makerworld/model/US4d9e136c3df811/design/2025-02-16_e8c4a0b5b82d2.jpg?x-oss-process=image/resize,w_1000/format,webp" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-team-fortress">
  <div class="titulo-tf">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Team-Fortress-2-logo.png" alt="">
  </div>
  <div class="container-tf">
    <div class="tf">
      <img src="https://wiki.teamfortress.com/w/images/thumb/d/d9/TF2_Boxart.png/250px-TF2_Boxart.png.jpeg" alt="">
    </div>
    <div class="itens-tf">
      <nav>
        <a href="#section-counter-strike" onclick="navTf('figures')">FIGURES</a>
        <a href="#section-counter-strike" onclick="navTf('maquetes')">MAQUETES</a>
        <a href="#section-counter-strike" onclick="navTf('mascaras')">MASCARAS</a>
      </nav>
      <div class='itens-conteudo-tf' id="itens-conteudo-tf">
        <div class="bloco-tf">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz2fJVH8RdcBggeKAAO3kudDlIxeUQQw4cpkMWsIdwhorNgofIAT7hx4Ps&s=10" alt="">
        </div>
        <div class="bloco-tf">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz2fJVH8RdcBggeKAAO3kudDlIxeUQQw4cpkMWsIdwhorNgofIAT7hx4Ps&s=10" alt="">
        </div>
        <div class="bloco-tf">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz2fJVH8RdcBggeKAAO3kudDlIxeUQQw4cpkMWsIdwhorNgofIAT7hx4Ps&s=10" alt="">
        </div>
        <div class="bloco-tf">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz2fJVH8RdcBggeKAAO3kudDlIxeUQQw4cpkMWsIdwhorNgofIAT7hx4Ps&s=10" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-personalizados">
  <h2>TRABALHOS PERSONALIZADOS</h2>
  <div class="temas">

    <div class='tema-item' style="background-image: url('{% static "img/personalizados-ex1.webp" %}')">
      <h3>MAQUETES</h3>
      <button>Venha conhecer as maquetes</button>
    </div>

    <div class='tema-item' style="background-image: url('{% static "img/personalizados-ex2.webp" %}')">
      <h3>DIORAMAS</h3>
      <button>Venha conhecer os dioramas</button>
    </div>

    <div class='tema-item' style="background-image: url('{% static "img/personalizados-ex3.webp" %}')">
      <h3>PERSONALIZADOS</h3>
      <button>Venha conhecer os personalizados</button>
    </div>

  </div>
</section>

<script src="{% static "js/home.js" %}"></script>
{% endblock content %}