{% extends "global/base.html" %}
{% load static %}

{% block content %}
<div class="carrossel-container">
    <button class="anterior">&#10094;</button>
    <div class="carrossel">

      <div class="nivel">
        <div class="item">
          <a href="#"><img src="{% static "img/banner1.webp" %}"></a>
        </div>
      </div>
      
      <div class="nivel">
        <div class="item">
          <a href="#"><img src="{% static "img/banner2.webp" %}"></a>
        </div>
      </div>

      <div class="nivel">
        <div class="item">
          <a href="#"><img src="{% static "img/banner3.webp" %}"></a>
        </div>
      </div>

    </div>
    <button class="proximo">&#10095;</button>
</div>

<section class="destaque">
  <h2>Novidades 🔥</h2>
  <div class="destaque-novidades">
    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">ADICIONAR AO CARRINHO</div>
      <div class="destaque-nome-curto">
        <p>Rock BALBOA FILME NETFLIX escala 1/10 </p>
        <span class="destaque-item-valor">R$ 29.99</span>
      </div>
    </div>

  </div>
  <div class="destaque-ver-mais"><button>Ver mais...</button></div>


  <h2>RECEM LANÇADOS</h2>
  <div class="recente">
    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">TESTE</div>
    </div>
    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">TESTE</div>
    </div>
    <div class="item">
      <img src="{% static "img/rockbalboa.webp" %}" alt="">
      <div class="nome-item">TESTE</div>
    </div>
  </div>

</section>

<section class="section-temas">
  <h2>TRABALHOS PERSONALIZADOS</h2>
  <div class="temas">
    <div class='tema-item'>
      <h3>MAQUETES</h3>
      <button>Venha conhecer as maquetes</button>
    </div>

    <div class='tema-item'>
      <h3>DIORAMAS</h3>
      <button>Venha conhecer os dioramas</button>
    </div>

    <div class='tema-item'>
      <h3>PERSONALIZADOS</h3>
      <button>Venha conhecer os personalizados</button>
    </div>
    
    <div class='tema-item'>
      <h3>PERSONALIZADOS</h3>
      <button>Venha conhecer os personalizados</button>
    </div>
  </div>
</section>

{% endblock content %}