body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* CARROSSEL DE BANNERS ROTATIVOS */

.carrossel-container {
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.8s ease-in-out;
    height: auto;
}

.nivel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100%;
    box-sizing: border-box;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
}

.carrossel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
    border: none;
    padding: 100px 60px;
    cursor: pointer;
    z-index: 1;
    font-size: 80px;
}

.carrossel-container button.anterior {
    left: -50px;
    padding-right: 100px;
}

.carrossel-container button.proximo {
    right: -50px;
    padding-left: 100px;

}

/* DESTAQUES DE MODELOS */

.destaque h2 {
    text-align: center;
}

.destaque-novidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px;
}

.destaque-novidades .item {
    border-radius: 10px 10px 0 0;
    flex-direction: column;
    border: 1px solid #ccc;
}

.destaque-novidades img {
    height: 100%;
    width: 100%;
}

.destaque-novidades .item .nome-item {
    padding: 10px 0;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

.destaque-nome-curto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destaque-nome-curto p {
    font-weight: bold;
    margin: 8px 0 5px 0;
}

.destaque-item-valor {
    font-weight: bold;
    text-decoration: underline;
}

.destaque-ver-mais {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 5px solid #0000006c;
}

.destaque-ver-mais button {
    padding: 15px;
    width: 200px;
    background-color: red;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}

/* RECEM POSTADOS */

.secao-recentes {
    background-color: #dddddd;
    border-bottom: 5px solid #0000004a;
    padding: 0 20px 15px 20px;
}

.secao-recentes h2 {
    margin: 0;
    padding: 25px 0;
}

.recente {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.recente .item {
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #f4f4f4;
}

.recente .item:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.recente .item .nome-item {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

/* PERSONALIZADOS */

.section-personalizados {
    padding: 20px 0 90px 0;
    background-color: rgb(34, 34, 34);
    color: white;
}

.section-personalizados h2 {
    text-align: center;
}

.temas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
    gap: 35px;
}

.temas .tema-item {
    flex-direction: column;
    min-height: 550px;
    width: 480px;
    background-color: #ccc;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temas .tema-item button {
    border: none;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

/* CSGO ESPECIAL */

.section-counter-strike {
    padding: 30px;
    background-color: #FFAE00;
    height: 800px;
    border-bottom: 5px solid #0000004a;
}

.section-counter-strike h1 {
    text-align: center;
    color: #f4f4f4;
}

.section-counter-strike .titulo-cs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.section-counter-strike .titulo-cs img {
    height: 90px;
}

.container-cs {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.container-cs img {
    border-radius: 5%;
    height: 600px;
    width: auto;
    border: 2px solid #000000;
}