<style>
  nav {
    background-color: black;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    right: 0;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold
  }

  nav h1 {
    font-size: 22px;
  }
</style>

<nav>
  <a href="#home">
    <h1 class="home">ANDROMEDA STUDIO</h1>
  </a>
  <ul>
    <li><a href="">DESTAQUES</a></li>
    <li><a href="">FIGURES</a></li>
    <li><a href="">MASCARAS</a></li>
    <li><a href="">QUADROS</a></li>
    <li><a href="">SUPORTES</a></li>
    <li><a href="">PERSONALIZADOS</a></li>
  </ul>
</nav>